:root{
    --color-1: #14020f;
    --color-2: #fb00ff;
    --color-2-20: #fb00ff20;
    --color-3: #B5C5C3;
    --color-4: #323232;
    --color-5: #002254;
    --color-6: #540018;
    --color-w: #ffffff; 
}