<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/view1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View1</title>
</head>
<body>
    <div id="e1" class="gridElementSpace">

        <img id="appIcon" src="../storage/images/icons/icon.png">
        <p id="invetoName">COINFY</p>
        <img id="menu" src="../storage/images/icons/menu.svg">

    </div>


    <div class="navigationBar">
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/home.svg">
        </div>
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/book.svg">
        </div>
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/Smenu.svg">
        </div>
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/bell.svg">
        </div>
        <div onclick="window.location.href='../index.html'" class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/user.svg">
        </div>
    </div>

<div class="investingCont">
    <p id="subtitle">Investing Tips</p>
    <div class="pigCont">
        <div class="pigC1">
            <img id="ellipse" src="../storage/images/backgrounds/ellipse.svg">
            <img id="pig" src="../storage/images/backgrounds/pig.svg">
        </div>
        <div class="pigC2">
            <p id="pigTitle">What is an ETF?</p>
            <p id="pigDescript">By James B, PHD</p>
            <div class="pigButtom">
                <p id="pigButtomText">LEARN MORE</p>
            </div>
        </div>
    </div>

    <p id="subtitle2">My Cards (4)</p>
    <div class="cardsGallery">
        <div class="cardsGrid">
            <div id="c1" class="card">
                <img class="cardBg" src="../storage/images/backgrounds/circles.svg">
                <div class="cardInfo">
                    <img class="cardTable" src="../storage/images/cards/cardTable.svg">
                    <p class="cardNumber">****6175</p>
                    <img class="cardIcon" src="../storage/images/cards/cardIcon1.svg">
                    <p class="cardValue"><span class="vSimbol">$</span>47,417</p>
                </div>
            </div>
            <div id="c2" class="card">
                <img class="cardBg" src="../storage/images/backgrounds/circles.svg">
                <div class="cardInfo">
                    <img class="cardTable" src="../storage/images/cards/cardTable.svg">
                    <p class="cardNumber">****7903</p>
                    <img class="cardIcon2" src="../storage/images/cards/cardIcon2.svg">
                    <p class="cardValue"><span class="vSimbol">$</span>584,400</p>
                </div>
            </div>
            <div id="c3" class="card">
                <img class="cardBg" src="../storage/images/backgrounds/circles.svg">
                <div class="cardInfo">
                    <img class="cardTable" src="../storage/images/cards/cardTable.svg">
                    <p class="cardNumber">****9430</p>
                    <img class="cardIcon" src="../storage/images/cards/cardIcon1.svg">
                    <p class="cardValue"><span class="vSimbol">$</span>1,340,600</p>
                </div>
            </div>
            <div id="c4" class="card">
                <img class="cardBg" src="../storage/images/backgrounds/circles.svg">
                <div class="cardInfo">
                    <img class="cardTable" src="../storage/images/cards/cardTable.svg">
                    <p class="cardNumber">****2397</p>
                    <img class="cardIcon2" src="../storage/images/cards/cardIcon2.svg">
                    <p class="cardValue"><span class="vSimbol">$</span>77,500</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>