<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/view2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view2</title>
</head>
<body>
    
    <div id="bgDiv"><img id="bgDesign" src="../storage/images/backgrounds/circles.svg"></div>

    <div id="e1" class="gridElementSpace">
        <img id="appIcon" src="../storage/images/icons/icon.png">
        <p id="invetoName">COINFY</p>
        <img id="menu" src="../storage/images/icons/menu.svg">
    </div>

    <div class="balanceDiv">
        <p id="balanceTotal">Total</p>
        <p id="balanceTotal">Balance</p>
        <p id="balanceValue"><span id="simbol">$</span>214,417</p>
    </div>

    <div class="lineTypeDiv">
        <div id="lt1" class="lineType">
            <p id="ltT1" class="ltText">Assets</p>
        </div>
        <div id="lt2" class="lineType">
            <p id="ltT2" class="ltText">Debt</p>
        </div>
        <div id="lt3" class="lineType">
            <p id="ltT3" class="ltText">Income</p>
        </div>
    </div>

    <div class="navigationBar">
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/home.svg">
        </div>
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/Sbook.svg">
        </div>
        <div onclick="window.location.href='view1.html'" class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/menu.svg">
        </div>
        <div class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/bell.svg">
        </div>
        <div onclick="window.location.href='../index.html'" class="navigationOptions">
            <img class="navigationIcon" src="../storage/images/navigation/user.svg">
        </div>
    </div>

</body>
</html>